*{
    margin:0;
    padding:0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.front-wrapper{
    height:90vh;
    width:90vw;
    background-color: white;
    margin:0 auto;
    margin-top:5vh;
    border: 1px solid black;
    box-sizing: border-box;
    display:flex;
    justify-content: center;
    align-items: center;
}
.front-img-container{
    height:80vh;
    width:30vw;
    margin-right:6vw;
}
.front-img{
    height:100%;
    width:100%;
}
.front-info-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.front-heading{
    color:green;
    font-weight: bold;
    font-size: 3rem;;
    margin-bottom:20px;
}
.front-link{
    border: 3px solid green;
    box-sizing: border-box;
    border-radius: 10%;
    font-size: 1.2rem;
    padding:2px 8px;
    text-decoration: none;
    color:green;
}

